<div class="announcement-bar">
    <p class="announcement-message">Always be in tact with major sneaker news</p>
</div>
<nav class="navbar">
    <a class="navbar-logo">Hypestock</a>
    <ul class="navbar-menu-container">
        <li class="navbar-menu-item-container" *ngFor="let brand of hotBrands" (click)="onClick(brand.id)">
            <a class="navbar-menu-item">
                <p class="navbar-brand">{{brand.name}}</p>
            </a>
        </li>
    </ul>
    <div class="menu-actions-container">
        <button type="button" class="action-button">Login</button>
    </div>
</nav>
<div class="pulsating-divider"></div>