<div class="container-fluid">
    <div>
        <div class="login-form">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="logo">
                    <a>Hypestock</a>
                </div>
                <div class="form-group">
                    <span>Login with your username and password</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputUsername"><b>Username</b></label>
                    <input type="text" class="form-control" placeholder="Enter your username"
                        formControlName="username">
                </div>
                <div *ngIf="username.touched && username.errors?.required" class="alert alert-danger">
                    This field is required!
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword"><b>Password</b></label>
                    <input type="password" class="form-control" formControlName="password" placeholder="Password">
                </div>
                <div *ngIf="password.touched && password.errors?.required" class="alert alert-danger">
                    This field is required!
                </div>
                <div class="login-button">
                    <button type="submit" class="action-button">Login</button>
                </div>
                <div class="divider"></div>
                <div class="register-section">
                    <span>Don't have an account?</span>
                    <div class="register-button">
                        <button routerLink="/register" class="action-button">Sign Up</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>