<app-navbar></app-navbar>
<div class="wrapper">
    <mat-grid-list cols="3" rowHeight="100px" style="margin: 0 0 45px 0">

        <mat-grid-tile [colspan]="2" [rowspan]="4">
            <div class="grid-item">
                <img class="main-img" [src]="brand.imageUrl" alt="">
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4">
            <div class="grid-item">
                <h1><span>Are you a fan of {{brand.name}}?</span></h1>
                <div class="vote-bar">
                    <div class="vote-buttons">
                        <div class="like-container">
                            <input type="checkbox" id="liked" />
                            <label for="liked">
                                <div (click)="onLike()" class="like-cnt" id="like-cnt">
                                    <i class="like-btn material-icons">thumb_up</i>
                                </div>
                                <p>{{brand.likes}}</p>
                            </label>
                        </div>
                        <div class="dislike-container">
                            <input type="checkbox" id="disliked" />
                            <label for="disliked">
                                <div (click)="onDislike()" class="like-cnt unchecked">
                                    <i class="like-btn material-icons">thumb_down</i>
                                </div>
                                <p>{{brand.dislikes}}</p>
                            </label>
                        </div>
                    </div>
                    <div class="w3-red">
                        <div class="w3-green" style="height:24px;" [ngStyle]="{'width': brand.likeRatio + '%'}"></div>
                    </div>
                    <div class="like-percentage">
                        <h4>{{brand.likeRatio}}%</h4>
                    </div>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="brand-section">
        <div class="section-title">
            <h3>About {{brand.name}}</h3>
        </div>
        <p>{{brand.description}}</p>
    </div>
    <div class="releases-section">
        <div class="section-title">
            <h3>UPCOMING RELEASES</h3>
        </div>
        <div class="month-releases">
            <div class="section-title">
                <h4><b>August</b></h4>
            </div>
            <div class="row">
                <div class="col lg-2">
                    <div class="image-box">
                        <a href="">
                            <img src="https://s3.amazonaws.com/images.kicksfinder.com/products/thumbs/e8f9a551f09384642150b2da0ef145b3_1658518601.jpeg" alt="">
                        </a>
                    </div>
                    <div class="details-box">
                        <div class="release-date-and-rating">
                            <span class="release-date">08.27</span>
                            <div class="release-rating">
                                <span>{{brand.likes}} Likes</span>
                            </div>
                        </div>
                        <h2>Air Jordan 12 "Stealth"</h2>
                        <span class="release-price">$ 200</span>
                        <div class="more-details">
                            <p><span>Color:</span>
                            "Stealth/Cool Grey/White"
                        </p>
                        </div>
                    </div>
                </div>
                <div class="col lg-2">
                    <div class="image-box">
                        <a href="">
                            <img src="https://s3.amazonaws.com/images.kicksfinder.com/products/thumbs/e8f9a551f09384642150b2da0ef145b3_1658518601.jpeg" alt="">
                        </a>
                    </div>
                    <div class="details-box">
                        <div class="release-date-and-rating">
                            <span class="release-date">08.27</span>
                            <div class="release-rating">
                                <span>{{brand.likes}} Likes</span>
                            </div>
                        </div>
                        <h2>Air Jordan 12 "Stealth"</h2>
                        <span class="release-price">$ 200</span>
                        <div class="more-details">
                            <p><span>Color:</span>
                            "Stealth/Cool Grey/White"
                        </p>
                        </div>
                    </div>
                </div><div class="col lg-2">
                    <div class="image-box">
                        <a href="">
                            <img src="https://s3.amazonaws.com/images.kicksfinder.com/products/thumbs/e8f9a551f09384642150b2da0ef145b3_1658518601.jpeg" alt="">
                        </a>
                    </div>
                    <div class="details-box">
                        <div class="release-date-and-rating">
                            <span class="release-date">08.27</span>
                            <div class="release-rating">
                                <span>{{brand.likes}} Likes</span>
                            </div>
                        </div>
                        <h2>Air Jordan 12 "Stealth"</h2>
                        <span class="release-price">$ 200</span>
                        <div class="more-details">
                            <p><span>Color:</span>
                            "Stealth/Cool Grey/White"
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div *ngFor="let monthReleases of brand.releasesByMonth">
    <h2><span>{{monthReleases.month}}</span></h2>
    <div class="col-lg-2" *ngFor="let product of monthReleases.releases">
        <div (click)="onClickProduct(product.id)" class="card" style="width: 18rem;">
            <img class="card-img-top" [src]="product.imageUrl" alt="Card image cap">
            <div class="card-body">
                <p class="card-text">{{product.brand}} {{product.model}}</p>
            </div>
        </div>
    </div>
</div>