.column {
  float: left;
  width: 25%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.brand-icon {
  height: 170px;
  width: auto;
  max-width: 500px;
}

.vote-buttons {
  height: 50px;
}