@font-face {
    font-family: "Logo";
    src: url('./assets/Permanent_Marker/PermanentMarker-Regular.ttf');
}

@font-face {
    font-family: "Main";
    src: url('./assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Main Italic";
    src: url('./assets/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf');
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0 !important;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
    padding-inline-end: 0;
}

/* You can add global styles to this file, and also import other style files */
form {
    border: 1px solid grey;
    padding: 10% 15%;
    margin-top: 20%;
}