<app-navbar></app-navbar>
<div class="wrapper">
    <span class="editors-picks-section">Editor's Picks</span>
    <mat-grid-list cols="3" rowHeight="100px" style="margin: 10px 0 45px 0">
        <mat-grid-tile [colspan]="2" [rowspan]="4">
            <div class="grid-item" (click)="onClickProduct(editorsPicks.mainProduct.id)">
                <div class="grid-item-overlay">
                    <p class="image-title">{{editorsPicks.mainProduct.brand}} {{editorsPicks.mainProduct.model}}</p>
                    <p class="image-description">{{editorsPicks.mainProduct.releaseDate}}</p>
                </div>
                <img class="main-img" [src]="editorsPicks.mainProduct.imageUrl" alt="">
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="4">
            <div class="grid-item" (click)="onClickProduct(editorsPicks.sideProduct.id)">
                <div class="grid-item-overlay">
                    <p class="side-image-title">{{editorsPicks.sideProduct.brand}} {{editorsPicks.sideProduct.model}}</p>
                    <p class="image-description">{{editorsPicks.sideProduct.releaseDate}}</p>
                </div>
                    <img class="main-img" [src]="editorsPicks.sideProduct.imageUrl" alt="">
            </div>
        </mat-grid-tile>
    </mat-grid-list>

    <div>
        <div class="products-section">
            <div class="section-title">
                <h3>HOT RELEASES</h3>
            </div>
            <div class="row">
                <div class="col lg-2" *ngFor="let product of hotProducts">
                    <div class="image-box">
                        <a (click)="onClickProduct(product.id)">
                            <img [src]="product.imageUrl" alt="">
                        </a>
                    </div>
                    <a (click)="onClickProduct(product.id)"
                        class="product-name"><p>{{product.brand}} {{product.model}}</p></a>
                </div>
            </div>
        </div>

        <div class="products-section">
            <div class="section-title">
                <h3>DROPPING SHORTLY</h3>
            </div>
            <div class="row">
                <div class="col lg-2" *ngFor="let product of droppingShortly">
                    <div class="image-box">
                        <a (click)="onClickProduct(product.id)">
                            <img [src]="product.imageUrl" alt="">
                        </a>
                    </div>
                    <a (click)="onClickProduct(product.id)"
                        class="product-name"><p>{{product.brand}} {{product.model}}</p></a>
                </div>
            </div>
        </div>

        <div class="products-section">
            <div class="section-title">
                <h3>JUST ANNOUNCED</h3>
            </div>
            <div class="row">
                <div class="col lg-2" *ngFor="let product of justAnnounced">
                    <div class="image-box">
                        <a (click)="onClickProduct(product.id)">
                            <img [src]="product.imageUrl" alt="">
                        </a>
                    </div>
                    <a (click)="onClickProduct(product.id)"
                        class="product-name"><p>{{product.brand}} {{product.model}}</p></a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="pulsating-divider"></div>
<app-footer></app-footer>